$dim: 100px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;

  .finalJogo {
    animation: finalizado 2s ease infinite;
  }

  .cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;

    perspective: 1000px;
    
    .carta {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      aspect-ratio: 3/4;

      transition: transform 0.8s;
      transform-style: preserve-3d;


      .face {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;

        backface-visibility: hidden;

        img {
          width: 100%;
        }

        &:last-child {
          transform: rotateY(0.5turn);
        }
      }

      // &:hover {
      //   transform: rotateY(180deg);
      // }
    }

    .cartaVirada {
      transform: rotateY(180deg) !important;
    }

    .parFormado {
      z-index: 9000;
      .face {
        &:last-child {
          animation: encontrado 1.5s ease-in;
        }
      }
    }

    .parNaoFormado {
      z-index: 9000;
      .face {
        &:last-child {
          animation: naoEncontrado 1s ease-in;
        }
      }
    }

  }
}

@keyframes encontrado {
  0% {
    transform: rotateY(180deg) scale(1) rotate(0);
  }
  50% {
    transform: rotateY(180deg) scale(1.2) rotate(-3deg);
  }
  100% {
    transform: rotateY(180deg) scale(1) rotate(0);
  }
}

@keyframes naoEncontrado {
  0% {
    transform: rotateY(180deg) rotate(0);
  }
  10% {
    transform: rotateY(180deg) rotate(-3deg);
  }
  20% {
    transform: rotateY(180deg) rotate(3deg);
  }
  30% {
    transform: rotateY(180deg) rotate(0);
  }
  40% {
    transform: rotateY(180deg) rotate(-3deg);
  }
  50% {
    transform: rotateY(180deg) rotate(3deg);
  }
  60% {
    transform: rotateY(180deg) rotate(0);
  }
  70% {
    transform: rotateY(180deg) rotate(-3deg);
  }
  80% {
    transform: rotateY(180deg) rotate(3deg);
  }
  100% {
    transform: rotateY(180deg) rotate(0);
  }
}

@keyframes finalizado {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}